
<div class="tile">
  <h3 data-translate="USER" class="tile-title"></h3>
<p>{{'Hello' | reverse}}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>User Name</th>
        <th>Location</th>
        <th>Age</th>
        <!-- <th>Options</th> -->
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="user in $ctrl.users">
        <td data-ng-bind="user.id"></td>
        <td data-ng-bind="user.username"></td>
        <td data-ng-bind="user.location"></td>
        <td data-ng-bind="user.age"></td>
        <!-- <td><button>编辑</button></td> -->
      </tr>
    </tbody>
  </table>
  <div class="form-group btn-container text-center">
    <input type="form-control" name="username" data-ng-model="$ctrl.nameFilter" />
    <button class="btn btn-primary" data-ng-click="$ctrl.filterUserName()" placeholder="回车添加，设置日期点右侧" ng-keypress="($event.which === 13)?addTask():0">Filter</button>
  </div>
</div>



