
<h1 class="show-left">{{'WELCOME_LOGIN' | translate}}</h1>
<div class="show-left" data-ng-bind="$ctrl.loginTitle"></div>

<div class="row show-left">
    <form>
        <div class="form-group">
            <label class="col-md-6">{{'USER_NAME' | translate}}</label>
            <input class="form-control" name="username" type="text">
        </div>
        <div class="form-group">
            <label class="col-md-6">{{'PASSWORD' | translate}}</label>
            <input class="form-control" name="password" type="password">
        </div>
        <div class="col-md-12 text-center">
    <button class="btn btn-default" translate="LOGIN" ng-click="$ctrl.loginnew()"></button>
        </div>
    </form>
</div>

<p>----------------------------------------------------------------------------------</p>
<h1 class="show-left" data-translate="ALL_USER"></h1>

<div class="row show-left">
  <div id="divUserList" class="col-sm-10 userList">
    <div data-ng-repeat="login in $ctrl.logins">
      <p class="pUser" data-ng-bind="login.username"></p>
      <p class="pUser" data-ng-bind="login.password"></p>
    </div>
  </div>
  <!-- <div data-ng-bind="$ctrl.users.length"></div> -->
  <!-- <p class="pUser" data-translate="ERROR_500"></p> -->
</div>



